.contact {
	display: flex;
	flex-direction: column;
	padding: 32px 0;
	width: 100%;
}

.contact__title {
	display: block;
	padding: 8px 16px;
	padding-bottom: 24px;
	/*border-bottom: 2px solid #f1f1f1;*/
}


.contact__title:after {
	display: block;
	content: "";
	height: 2px;
	background-color: #f1f1f1;
	margin-top: 24px;
}

.contact__text {
	display: block;
	padding: 8px 0;
	padding-bottom: 24px;
}

.contact__special {
	display: inline-block;
	padding: 0 8px;
	font-weight: bold;
	color: #fff;
	background-color: #000;
}

.contact__bold {
	font-weight: bold;
}

.form {
	display: flex;
	flex-direction: column;
	width: 100%;
	/*padding: 0 16px;*/
	/*padding-right: 32px;*/
}

.form__item {
	width: 100%;
	padding: 16px 8px;
	border: 1px solid #ccc;
	margin: 8px 0;
}

.form__item:first-child {
	margin-top: 0;	
}

.form__button {
	display: inline-block;
	align-self: flex-start;
	padding: 16px;
	background-color: #000;
	color: #fff;
	border: none;
	margin: 16px 0;
	text-transform: uppercase;
	cursor: pointer;
}

.form__button:hover {
	background-color: #f1f1f1;
	color: #000!important;
}


@media (max-width: 768px) {
	.form__item {
		flex-direction: column;
	}

	.form__input {
		width: 100%;
	}
}

@media ( max-width: 449px ) {
	.contact-info {
		flex-direction: column;
	}

	.contact-info__list {
		width: 100%;
		margin-bottom: 20px;
	}

	.form {
		width: 100%;
	}

}